<p-card
  header=" {{ movie.original_title | uppercase }}"
  subheader="{{ movie.release_date | dateFormat }}"
  [style]="{ width: '360px' }"
>
  <ng-template pTemplate="header">
    <img alt="{{ movie.title }}" src="{{ movie.backdrop_path }}" />
  </ng-template>

  <p styleClass="overview">
    {{ movie.overview }}
  </p>

  @if (!isFavorite){
  <ng-template pTemplate="footer">
    <div class="active-button">
      <p-button icon="pi pi-heart" (click)="addToFavoritesList()" />
      <p-button icon="pi pi-bookmark" (click)="addToWatchLetterList()" />
    </div>
  </ng-template>
  }
</p-card>

<!--
<div class="movie-card">
  <div class="content">
    <div class="wraper-img">
      <img
        class="img"
        src="{{ movie.backdrop_path }}"
        alt="{{ movie.title }}"
      />
    </div>

    <div class="item-info">
      <h2 class="title">{{ movie.original_title | uppercase }}</h2>
      <p class="info release_date">
        Release: {{ movie.release_date | dateFormat }}
      </p>
      <p class="info popularity">Rating:{{ movie.popularity }}</p>
      <p class="overview">{{ movie.overview }}</p>
    </div>
    @if (!isFavorite){}
    <div class="user-button">
      <button class="button favorite" (click)="addToFavoritesList()">
        Add to favorite
      </button>
      <button class="button watch-letter" (click)="addToWatchLetterList()">
        Add to watch letter
      </button>
    </div>
    }
  </div>
</div>-->
