<div class="card">
  <div class="card__image">
    <a routerLink="/">
      <img alt="{{ movie.title }}" [src]="getImageUrl(movie)"
    /></a>
  </div>

  <div class="card__content">
    <h2 class="card__title">{{ movie.original_title | uppercase }}</h2>
    <h3 class="card__release">{{ movie.release_date | dateFormat }}</h3>
    @if(isDetail){
    <p class="card__descr">
      {{ movie.overview }}
    </p>
    }
    <p-rating
      class="rating"
      [(ngModel)]="movie.vote_average"
      [readonly]="true"
      [cancel]="false"
      [stars]="10"
    />
  </div>

  <div class="card__active">
    <p-button
      icon="pi pi-heart br-20"
      size="large"
      (click)="addToFavoritesList()"
    />
    <p-button
      icon="pi pi-bookmark"
      size="large"
      (click)="addToWatchLetterList()"
    />
  </div>
</div>
