<div class="wraper">
  <div class="container">
    <div class="movie-list">
      @for (movie of movies; track movie.id){
      <app-movie-card
        [movie]="movie"
        [isFavorite]="false"
        (addToFavorite)="addFavorite($event)"
        (addToWatchLetter)="addWatchLatter($event)"
      ></app-movie-card>
      }
    </div>

    @if (favorites.length>0){

    <div class="favorite-block">
      <p-divider align="left" type="solid"> <h3>Favorites</h3> </p-divider>
      <div class="favorit favorite-content">
        @for (favorite of favorites; track favorite.id){
        <app-movie-card [movie]="favorite" [isFavorite]="true"></app-movie-card>
        }
      </div>
    </div>

    } @if (watchLatters.length>0){
    <div class="watch-latter-block">
      <p-divider align="left" type="solid"> <h3>Watch latter</h3> </p-divider>
      <div class="favorit watch-latter-content">
        @for (watchLatter of watchLatters; track watchLatter.id){
        <app-movie-card
          [movie]="watchLatter"
          [isFavorite]="true"
        ></app-movie-card>
        }
      </div>
    </div>
    }
  </div>
</div>
