:host {
  ::ng-deep {
    .p-divider-content h3 {
      font-size: 30px;
    }
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.favorite-block {
}

.favorit {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
