<button class="sidebar-btn" (click)="toggleSidebar()">Open sidebar</button>

@if(sidebarVisible){
<ng-container class="wraper">
  <div class="content" (click)="toggleSidebar()">
    <ul class="sidebar" (click)="toggleSidebar()">
      <li>
        <a
          routerLink="/"
          routerLinkActive="nav-link-active"
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/popular"
          routerLinkActive="nav-link-active"
          class="nav-link"
          >Popular</a
        >
      </li>
      <li>
        <a
          routerLink="/now-playing"
          routerLinkActive="nav-link-active"
          class="nav-link"
          >Now Playing</a
        >
      </li>
      <li>
        <a
          routerLink="/top-rate"
          routerLinkActive="nav-link-active"
          class="nav-link"
          >Top Rate</a
        >
      </li>
      <li>
        <a
          routerLink="/upcoming"
          routerLinkActive="nav-link-active"
          class="nav-link"
          >Upcoming</a
        >
      </li>
    </ul>
  </div> </ng-container
>}
